* {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  font-family: sans;
  color: black;
  background: white;
}

body {
  max-width: 50rem;
  padding: 2rem;
}

h1, h2, h3, h4 {
  margin: 1.5em 0 0.5em 0;
}

h1 {
  margin-top: 0;
}

p, ul {
  margin: 0 0 0.5rem 0;
}

ul {
  padding-left: 1.5rem;
}

a {
  color: #666;
}

a * {
  color: #666;
}

footer {
  margin-top: 5rem;
  padding-top: 0.5rem;
  border-top: solid thin lightgray;
  font-size: 0.8rem;
}
footer * {
  color: gray;
}

nav {
  padding: 0.5rem 3rem 0 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 1rem;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (min-width: 641px) {
  .main-wrapper {
    display: flex;
    margin-top: 2rem;
    min-height: 20rem;
  }
  .main-wrapper main {
    flex: 10;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header #site-name {
  font-weight: bold;
  font-size: 3rem;
  text-align: right;
  color: #6C7D85;
  padding-top: 0.5rem;
}

header #delta-chat-logo {
  height: 5rem;
  width: 5rem;
}

.tip {
  margin: 1rem 0 1rem 1rem;
  color: grey;

}
.tip:before {
  content: "👍  ";
  font-size: 1.2rem;
}

code, code * {
  font-family: monospace;
  font-size: 1rem;
}

pre {
  background: #eee;
  padding: 1rem;
  margin: 1rem;
}

pre * {
  background: #eee;
}
@media only screen and (max-width: 640px) {
  .intro-and-nav {
    text-align: right;
  }
  nav {
    padding-right: 0.5rem;
    margin-top: -3rem;
  }
  header #site-name {
    font-size: 1rem;
    padding-right: 0.5rem;
  }
  .page-content {
    min-width: 90%;
  }
}
