<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/styles/main.css" | relative_url }}">
    <script defer src="https://cosmos.delta.chat/banner.js"></script>
  </head>
  <body>
    <section class="section">
      <div class="container">

        <div class='columns'>
          <aside class="menu column is-2">
            <div class='deltachatbots-logo'>
              <a href="{{ site.url }}">
                <img style='width: 4rem; object-fit: contain; margin-bottom: 1rem' src='{{ site.baseurl }}/assets/logos/delta-chat-bot.svg' alt='Delta Chat Bot logo'>
              </a>
            </div>
            <ul class='menu-list'>
            {%- for item in site.data.menu.links -%}
              <li> 
                <a href="{{ item.url | relative_url }}"
                {% if item.url == page.url %}
                   class='is-active'
                {% endif %}
                >{{ item.title }}</a>
              </li>
            {% endfor %}
            </ul>
          </aside>

          <main class="content column" aria-label="Content">
            {{ content }}
          </main>
        </div>

      </div>
    </section>
  </body>
</html>
