<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/syntax.css" | relative_url }}">
  </head>
  <body>
    <header class="site-header" role="banner">
      <img id='delta-chat-logo' src='{{ site.baseurl }}/assets/logos/delta-chat.svg' alt='Delta Chat logo'>
      <div id='site-name'>Delta Chat Bots</div>
    </header>

    <div class="main-wrapper">
      <div class="intro-and-nav">
        <nav>
          <ul class='menu'>
          {%- for item in site.data.menu.links -%}
            <li> 
            {% if item.url == page.url %}
              {{ item.title }}
            {% else %}
              <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
            </li>
          {% endfor %}
          </ul>

        </nav>
      </div>
      <main class="page-content" aria-label="Content">
        {{ content }}
      </main>
    </div>

  </body>
</html>
